/* Variables */

:root {
  --red: #cf1020;
  --black: #343434;
  --font-body: "Crimson Text", Georgia, serif;
  --font-heading: "Montserrat", Helvetica, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}


/* Layout */

html, body, .page {
  min-height: 100vh;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
}

.page {
  width: 85vw;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  flex: 1 1;
}

.layout > .info,
.layout > .feed {
  flex: 0 0 14rem;
}

.layout > .main {
  flex: 1 1;
  margin: 0 3rem;
}

.page footer {
  flex: 0 0;
  padding: 2rem 0;
}


/* Typography */

strong, .bold {
  font-weight: var(--font-weight-bold);
}

h1, h2, h3, .heading {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}


/* Utilities */

.red {
  color: var(--red);
}

.black {
  color: var(--black);
}

.text-centre {
  text-align: center;
}

.block {
  display: block;
}
