/* Variables */

:root {
  --red: #cf1020;
  --dark-red: #860b15;
  --black: #353434;
  --dark-grey: #5d5555;
  --light-grey: #ebdbdb;
  --font-body: "Crimson Text", Georgia, serif;
  --font-heading: "Montserrat", Helvetica, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size: 22px;
  --time: 150ms;
}


/* Layout */

html, body, .page {
  min-height: 100vh;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: var(--font-size);
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
}

.page {
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 2rem 2.5rem;
  flex: 1 1;
}

.layout > .info,
.layout > .feed {
  flex: 0 0 10rem;
}

.layout > .main {
  flex: 1 1;
  margin: 0 3rem;
  max-width: 40rem;
}

.info .logo {
  display: block;
  max-width: 5rem;
  width: 70%;
  margin: 0 auto;
}

svg {
  max-width: 100%;
  height: auto;
}

.page header {
  margin-bottom: 2rem;
}

.page h1 {
  margin-top: 1.125rem;
}

.post-feed {
  margin: 2rem 0 2.5rem;
}

.post-feed header {
  margin-bottom: 0.75rem;
}

.page footer {
  flex: 0 0;
  padding: 2rem 0;
}

.post-meta {
  display: flex;
  justify-content: space-between;
}

.post-meta .post-date {
  order: 2;
}

.post-nav {
  padding: 1rem 0;
  margin-top: 4rem;
  font-size: 0.925rem;
}

.post-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-nav ul li {
  margin: 0;
}

.post-nav a,
.post-meta .back-home {
  position: relative;
}

.post-meta .back-home:before,
.post-nav [rel="next"]:after,
.post-nav [rel="prev"]:before {
  position: absolute;
  font-size: 1.5em;
  line-height: 0.9;
  transition: transform var(--time);
}

.post-nav [rel="next"]:after {
  content: "›";
  right: -0.75rem;
}

.post-nav [rel="next"]:hover:after,
.post-nav [rel="next"]:focus:after {
  transform: translateX(0.15rem);
}

.post-meta .back-home:before,
.post-nav [rel="prev"]:before {
  content: "‹";
  left: -0.75rem;
}

.post-meta .back-home:hover:before,
.post-meta .back-home:focus:before,
.post-nav [rel="prev"]:hover:before,
.post-nav [rel="prev"]:focus:before {
  transform: translateX(-0.15rem);
}


/* Typography */

strong, .bold {
  font-weight: var(--font-weight-bold);
}

h1, h2, h3, .heading {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.35rem;
  margin: 2em 0 1em;
}

h3 {
  font-size: 1rem;
  margin: 1.75em 0 0.75em;
  color: var(--dark-red);
}

h4 {
  font-weight: var(--font-weight-bold);
  font-size: 1.15rem;
  line-height: 1.3;
  margin: 1.5em 0 0.75em;
}

h5, h6 {
  font-weight: var(--font-weight-bold);
  font-size: 0.975rem;
  line-height: 1.3;
  margin: 1em 0 0.75em;
  color: var(--dark-red);
}

p {
  margin-bottom: 1.25em;
}

.post-feed h2,
.post-feed header p {
  margin: 0.15em 0;
}

small, .small {
  font-size: 0.825em;
}

em {
  font-style: italic;
}

a {
  display: inline-block;
  color: var(--red);
  text-decoration: none;
  box-shadow: 0 0.05em 0 var(--red); 
  transition: color var(--time), 
    box-shadow var(--time);
}

a img {
  transition: opacity var(--time);
}

a:hover,
a:focus {
  color: var(--dark-red);
  box-shadow: 0 0.15em 0 var(--dark-red); 
}

a:hover img,
a:focus img {
  opacity: 0.65;
}

.blog-name, footer a {
  box-shadow: none;
}

blockquote {
  margin: 1.75rem 0;
  padding-left: 1.65rem;
  border-left: 0.25rem solid var(--light-grey);
  margin-left: -0.45rem;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.65;
  color: var(--dark-grey);
}

ul, ol {
  margin: 1.5rem 0;
}

ul {
  list-style: disc;
  padding-left: 1.1rem;
}

ol {
  list-style: decimal;
  padding-left: 1rem;
}

li {
  margin: 0.75rem 0;
  line-height: 1.35;
}

li > ul {
  font-size: 0.925em;
  list-style: circle;
  padding-left: 2rem;
  margin: 0;
}


/* Utilities */

.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.red {
  color: var(--red);
}

.dark-red {
  color: var(--dark-red);
}

.dark-grey {
  color: var(--dark-grey);
}

.black {
  color: var(--black);
}

.text-centre {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.no-margin {
  margin: 0;
}


/* Responsive */

@media screen and (max-width: 1350px) {
  :root {
    --font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .layout {
    flex-wrap: wrap;
    padding: 3rem;
  }

  .layout > .main {
    margin: 0;
  }
  
  .layout > .info,
  .layout > .feed {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --font-size: 18px;
  }

  .layout {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .layout {
    padding: 0.75rem;
  }
}
